<li data-target="<%= id %>">
    <a href="#<%= id %>" title="<%= escape_html_attr(type + ' ' + url) %>">
        <span class="id"><%= id %>.</span>
        <span class="type"><%= type %></span>
        <span class="url"><%= escape_html(url) %></span>
    </a>
    <button class="btn btn-remove">X</button>
</li>