<div class="log-item" id="<%= id %>">
    <div>
        LOG ID: <span class="id"><%= id %></span>
        <button type="button" class="delBtn" >DELETE</button>
        <button type="button" class="resendBtn" >RESEND</button>
        <button type="button" class="refillBtn" >REFILL</button>
    </div>

    <h3>Request</h3>
    <div class="request">
        <h4>
            <span class="type" style="margin-right: 2em"><%= request.type %> </span>
            <span class="url" style="font-weight: normal"><%= escape_html(request.url) %></span>
        </h4>
        <h4>With PARAM:</h4>
        <p class="param"><%= escape_html(request.param) %></p>
        <h4>Pretty JSON:</h4>
        <pre><code class="jsonPretty json"><%= escape_html(request.jsonPretty) %></code></pre>
    </div>


    <h3>Response<% if (response.elapsedTimeInSeconds){ %> <span class="time-elapsed">+<%= response.elapsedTimeInSeconds%>s</span> <% } %></h3>
    <div class="response">
        <h4>Pretty JSON</h4>
        <pre><code class="jsonPretty json"><%= escape_html(response.jsonPretty) %></code></pre>
        <h4>JSON Decoded</h4>
        <pre><code class="jsonNormal json"><%= escape_html(response.json) %></code></pre>
        <h4>Base64 Decoded</h4>
        <p class="base64"><%= escape_html(response.base64) %></p>
        <h4>Raw Response</h4>
        <p class="raw"><%= escape_html(response.raw) %></p>
    </div>
</div>